<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.weishop.mapper.TbItemCatMapper">
<select id="count" resultType="_int">
     select count(1) from tb_item_cat
  </select>
  
  <select id="selectAllParentId" resultType="cn.weishop.demo.TbItemCat">
     select * from tb_item_cat limit #{currNo},#{currSize}
  </select>
  
  <select id="SelectTypeId1" resultType="cn.weishop.demo.TbItemCat">
     select * from tb_item_cat where type_id=#{type_id}
  </select>
  
  <!-- <select id="selectParentId1" resultType="cn.weishop.demo.TbItemCat">
     select * from tb_item_cat where parent_Id=0
  </select>
  
  <select id="selectParentId2" resultType="cn.weishop.demo.TbItemCat">
     select * from tb_item_cat where parent_Id=#{parentId}
  </select>
  
  <select id="selectParentId3" resultType="cn.weishop.demo.TbItemCat">
     select * from tb_item_cat where parent_Id=#{parentId}
  </select> -->
  
  <insert id="add" parameterType="_int">
     insert tb_item_cat values(null,#{parent_id},#{name},#{type_id});
  </insert>
</mapper>
